<!DOCTYPE html>
 <html>
 	<head>
 		<meta charset="utf-8">
 		<meta http-equiv="X-UA-Compatible" content="IE=edge">
 		<title></title>
 		<meta name="description" content=" " />
 		<meta name="author" content=" " />
 		<meta name="HandheldFriendly" content="true" />
 		<meta name="MobileOptimized" content="320" />
 		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
 	</head>
 	<body>
    <a href="/index"><h2>Home</h2></a>
    <br>
    <a href="/searchwithjobs"><h2>With Jobs</h2></a>
    <br>
    <a href="/searchavailforhire"><h2>Avail for Hire</h2></a>
    <br>
    <form action="/searchname" method="post">
       <p>Search by name:</p>
       <input type="text" name="namesearch"/>
       <button type="submit">Search Name</button>
     </form>
    <br><br><br>
    <div class="people-list">
      <!-- #users loops/maps thru everything under data.users -->
    {{#users}}
      <div class="robotholder">
        <img src="{{avatar}}">
        <a href="/index/{{username}}"><h2>{{name}}</h2></a>
        {{#job}}
          <p>{{job}}</p>
        {{/job}}
        {{^job}}
          <p class="nojob">Available for Hire</p>
        {{/job}}
      </div>
    {{/users}}
  </div>
 	</body>
 </html>
