<!DOCTYPE html>
 <html>
 	<head>
 		<meta charset="utf-8">
 		<meta http-equiv="X-UA-Compatible" content="IE=edge">
 		<title></title>
 		<meta name="description" content=" " />
 		<meta name="author" content=" " />
 		<meta name="HandheldFriendly" content="true" />
 		<meta name="MobileOptimized" content="320" />
 		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
 	</head>
 	<body>
    <div class="people-list">
      <div class="profileholder">
        <div id="profileheader">
          <img src="{{avatar}}">
          <h1>{{name}}</h1>
          {{#address.city}}
            <p>{{address.city}}, {{address.country}} | {{job}}, {{company}}</p>
          {{/address.city}}
          {{^address.city}}
            <p>{{address.country}} | {{job}}, {{company}}</p>
          {{/address.city}}
            <p>{{email}} | {{phone}}</p>
        </div>
        {{#university}}
          <h3>Education</h3>
          <p>{{university}}</p>
        {{/university}}
        {{^university}}
        {{/university}}
        <strong class="inline">Skills</strong><br>
        <p class="inline">
          {{#skills}}
          {{.}}<br>
          {{/skills}}
        </p>
      </div>
    </div>
    <a href="/index"><h2>Go Back</h2></a>
 	</body>
 </html>
