html{
  text-align: center;
}
.robotholder{
  border: 5px solid blue;
  display: inline-block;
}
.people-list{
  display: inline;
}
.nojob{
  color: red;
}

.profileholder img{
  border-radius: 100000px;
}
.inline{
  display: inline;
}
