html{
  text-align: center;
}
.robotholder{
  border: 1px solid grey;
  display: inline-block;
  width: 230px;
  height: 266px;
  margin: 5px;
}
.people-list{
  display: inline;
}
.nojob{
  color: red;
}
.profileholder{
  width: 50%;
  margin: auto;
  text-align: left;
}
.headerinfo{
  height: 155px;
}
.headerinfo img{
  border-radius: 100000px;
  float: left;
  border: 1px solid grey;
}
.headerinfo p, .headerinfo h1{
  margin-left: 165px;
}
.schoolnskills strong{
  width: 155px;
  float:left;
  text-align: right;
}
.schoolnskills p{
  margin-left: 165px;
}
