html{
  text-align: center;
}
.robotholder{
  border: 1px solid grey;
  display: inline-block;
  width: 230px;
  height: 266px;
  margin: 5px;
}
.people-list{
  display: inline;
}
.nojob{
  color: red;
}
.profileholder img{
  border-radius: 100000px;
  float: left;
}
.profileholder{
  width: 50%;
  margin: auto;
  text-align: left;
}
#profileinfo{
  text-align: left;
  display: inline;
}
